


nav {
	
	textarea {
		resize: vertical;
	}
	form.commentForm {
		
		.extractorOfFlow {
				height: $input-height-base;
				transition: $transition;
		}
		
		textarea {
			// pour le poids :
			&.form-control {
				//transition: $transition;
				//height: $input-height-base;
			}
		}
		select,
		input,
		button {
			width: 100%;
		}
		
		.focus { //qd le textarea ou un autre enfant a le focus/active
			&.extractorOfFlow {
			// textarea {
				height: calc(100px + 36px + 28px + 34px + 34px);
				height: calc(60vh + 36px + 28px + 34px + 34px);
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		textarea {
			resize: none;
			
			// pour le poids :
			&.form-control {
				&:focus {
					border-color: transparent;
					box-shadow: none;
				}
			}
		}
		
		form.commentForm {
			padding: 0 $navbar-padding-horizontal;
			margin-top: (($navbar-height - $input-height-base) / 2);
			margin-bottom: (($navbar-height - $input-height-base) / 2);
			position: relative;
			height: $input-height-base;
			width: 60%;
			
			.extractorOfFlow {
				position: absolute;
				left: 0;
				right: 0;
				transition: $transition;
				box-shadow: transparent 0 0 0 0;
				box-shadow: rgba($gray-light, 0) 0 0 0;
				outline: 0 solid $gray-light;
				outline: 1000px solid rgba($gray-light, 0);
				z-index: 1000; // pour simuler le vrai comportement du outline
				
				input,
				select,
				button {
					visibility: hidden;
					width: 100%;
					opacity: 0;
					transition: $transition;
				}
				
				&.focus { //qd le textarea ou un autre enfant a le focus/active
					width: 140%;
					
					box-shadow: $gray-light 0 0;
					box-shadow: rgba($gray-light, 1) 0 0 8px;
					outline: 1000px solid $gray-light;
					outline-color: rgba($gray-light, .5);
					
					select,
					input,
					button {
						opacity: 1;
						visibility: visible;
					}
					textarea {
						height: 500px;
						height: 60vh;
						border-bottom-color: $input-border;
					}
				}
			}
		}
	}
	@media (min-width: $screen-md-min) {
		form.commentForm {
			width: 70%;
		}
	}
}

.navbar { // pour le poids des selecteurs
	.avatar {
		height: $navbar-height;
		padding-top: $padding-nav-avatar;
		padding-bottom: $padding-nav-avatar;
		
		img {
			height: $navbar-height - ($padding-nav-avatar * 2);
		}
	}
}



