@import "navbarConnected";
@import "navbarNotConnected";



nav {
	color: defineColor($navbar-default-bg);
	
	&.navbar {
		border: none;
		border-bottom: $navbar-default-border-width $navbar-default-link-active-bg solid;
	}
	
	.navbar-brand {
		padding-top: 0;
		padding-bottom: 0;
		
		img {
			height: $navbar-height;
		}
	}
	
	input,
	textarea {
		color: $text-color;
		border: 1px none;
		padding: 4px 3px;
	}
	
	@media (max-width: $screen-sm-max) {
		text-align: center;
	}
}


