
$theme: #3A5795;
$colorSecondary: adjust_hue(saturate(darken(#3A5795, 20), 1), 350);
$padding-usual: 5px;
$paddingHeader: $padding-usual;



$bodyBg: #f0f0f0;
$containerBg: #fff;
$tagColor: darken($bodyBg, 10);




// cancel all border-radius
$border-radius-base: 0;
$border-radius-small: 0;
$border-radius-large: 0;
$pager-border-radius: 0;
$badge-border-radius: 0;

$alert-border-radius: 0;
$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;
$input-border-radius: 0;
$input-border-radius-small: 0;
$input-border-radius-large: 0;
$list-group-border-radius: 0;
$navbar-border-radius: 0;
$nav-pills-border-radius: 0;
$panel-border-radius: 0;
$progress-border-radius: 0;
$thumbnail-border-radius: 0;




// sub-navbar
$navbar-sub-bg: #fff;
$navbar-sub-color: defineColor($navbar-sub-bg);
$navbar-sub-border-width: 0;
$navbar-sub-border: darken($navbar-sub-bg, 6.5%);


// Sub-navbar links
$navbar-sub-link-color:                 $gray-darker;
$navbar-sub-link-hover-color:           #000;
$navbar-sub-link-hover-bg:              transparent;
$navbar-sub-link-hover-bg:             darken($navbar-sub-bg, 2.5%);
$navbar-sub-link-active-color:          #000;
$navbar-sub-link-active-bg:             darken($navbar-sub-bg, 5%);
$navbar-sub-link-disabled-color:        #ccc;
$navbar-sub-link-disabled-bg:           transparent;

//////



// navbar
$navbar-default-bg: $theme;
$navbar-default-color: defineColor($navbar-default-bg);
$navbar-border-radius: 0;
$navbar-default-border-width: 5px;


// Navbar links
$navbar-default-link-color:                 $gray-lighter;
$navbar-default-link-hover-color:           #fff;
$navbar-default-link-hover-bg:              transparent;
$navbar-default-link-active-color:          #fff;
$navbar-default-link-active-bg:             darken($navbar-default-bg, 10%);
$navbar-default-link-disabled-color:        #444;
$navbar-default-link-disabled-bg:           transparent;

// Navbar brand label
$navbar-default-brand-color:                $navbar-default-link-color;
$navbar-default-brand-hover-color:          #fff;
$navbar-default-brand-hover-bg:             transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:            lighten($navbar-default-bg, 10%);
$navbar-default-toggle-icon-bar-bg:         #fff;

/////




$padding-nav-avatar: 5px;


$transition-speed: .15s;
$transition: .2s;
$transition-slow: .3s;



// comments
$commentBg: $containerBg;
$commentMarginTop: 10px;
$commentPadding: $padding-usual;
$commentAvatarHeight: 50px;
$commentMarginContent: 20px;


// Profile
$sizeAvatarProfile: 80px;



// ListsOfPeoples
$nbPersonByLine: 3;


// tag
$paddingTasteRate: 5px;
$sizeHoleTag: 4px;



