@import 'style';
@import 'blocks/sub-navbar';

.navbarMessaging {
	$heightSubNavbar: ($font-size-base * $line-height-base) + ($navbar-padding-vertical * 2);
	
	h1 {
		display: inline-block;
		line-height: $heightSubNavbar * .9;
		float: left;
		margin: 0;
		padding: 0 0 0 15px;
	}
	
}



table {
	@extend .table;
	
	td[colspan] {
		text-align: center;
	}
}



.messenger_thread_message {
	margin-top: $commentMarginTop;
	padding: $commentPadding;
	background: $commentBg;
	
	.messenger_thread_message_info {
		@extend .h2;
		
		line-height: $commentAvatarHeight;
		margin-top: 0;
		font-size: $font-size-large;
	}
	
	.messenger_thread_message_body {
		
		margin: $commentMarginContent;
	}
}



input[type="submit"], button {
	@extend .btn;
	@extend .btn-default;
}



