@import "functions";
@import "bootstrap/bootstrap/variables";
@import "variable";
@import "variableBootstrap";
@import "bootstrap/bootstrap";
@import "mixins";




@import "blocks/navbar/navbar";
@import "blocks/comments";
@import "lib/bootstrap-wysihtml5";
@import "blocks/wysihtml5";
@import "blocks/footer";



body {
	background: $bodyBg;
}


main {
	@extend .container;
}



textarea {
	resize: vertical;
}




.fos_user_registration_register {
	@extend .form-horizontal;
}



/*
header {
	// display: inline;
	background-color: $theme;
	@include defineColor($theme);
	border-color: $colorSecondary;
	height: $heightHeader;
	padding: $paddingHeader;
	
	textarea {
		height: $heightHeader;
	}
}

form.connection {
	float: right;
	display: inline;
}

main {
	display: flex;
	width: 100%;
	justify-content: space-between;

	section {
		flex: 0 0 auto;
		width: 45%;
	}
}



/*
$theme: #3A5795;
$colorSecondary: adjust_hue(saturate(lighten($theme, 20), 20), 8);

header.notLogin {
	height: 150px;
}
*/
