@import "style";

@import "blocks/tags";
@import "blocks/bootstrap-datetimepicker";


h1 .tag {
	@include tag(($font-size-h1 * /*$line-height-base */ $headings-line-height));
	margin-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	display: inline-block;
}

p .tag {
	@include tag(($font-size-base * $line-height-base) + ($paddingTasteRate * 2));
	display: inline-block;
	margin-right: 0;
}

.tags {
	background: $containerBg;
}

.search {
	position: relative;
}


