{% extends 'base.html.twig' %}

{% set css = 'messaging' %}

{% trans_default_domain 'FOSMessageBundle' %}

{% block main %}
	
	<nav class="navbar navbarMessaging sub-navbar">
		<h1>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</h1>
		
		<ul class="nav navbar-nav">
			<li><a href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
			<li><a href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
			<li><a href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a></li>
		</ul>
	</nav>
	
	
	{% block fos_message_content %}{% endblock %}
{% endblock %}



