

@import 'tags';



.comment {
	margin-top: $commentMarginTop;
	padding: $commentPadding;
	background: $commentBg;
	
	.avatar {
		float: left;
		
		img {
			width: $commentAvatarHeight;
		}
	}
	h2 {
		line-height: $commentAvatarHeight;
		margin-top: 0;
		padding-left: $commentPadding + $commentAvatarHeight;
		font-size: $font-size-large;
	}
	
	.infos {
		color: lighten($gray-light, 15);
		transition: $transition;
		
		&:hover {
			color: $gray-light;
		}
	}
	
	.content {
		margin: $commentMarginContent;
	}
	
	.tastes {
		border-top: solid 1px $gray-lighter;
		margin: 0;
		padding: 5px;
		padding-bottom: 0;
		
		.tasteRate,
		.tasteBtn {
			display: inline-block;
			padding: 15px;
		}
		
		.tasteRate {
			$sizeArraow: 10px !default;
			$paddingTasteRate: 5px !default;
			$tasteRateColor: #f0f0f0 !default;
			$heightCard: ($font-size-base * $line-height-base) + ($paddingTasteRate * 2);
			
			padding: $paddingTasteRate;
			// border: $tasteRateColor 1px solid;
			background: $tasteRateColor;
			position: relative;
			color: defineColor($tasteRateColor);
			
			&::before {
				content: '';
				// border-left: 1px solid $tasteRateColor;
				// border-bottom: 1px solid $tasteRateColor;
				background: $tasteRateColor;
				display: block;
				width: $sizeArraow;
				height: $sizeArraow;
				transform: rotate(45deg);
				position: absolute;
				top: ($heightCard - $sizeArraow) / 2;
				left: -$sizeArraow / 2;
			}
		}
	}
	
		
	
}










