


%listOfPeoples {
	margin-top: $commentMarginTop;
	padding: $commentPadding;
	background: $commentBg;
	
	&::after {
		content: '';
		clear: both;
		display: block;
	}
	
	h2 {
		margin-top: 0;
	}
	
	
	ul {
		list-style: outside none none;
		padding: $commentPadding;
		
		> li {
			height: 50px;
			padding: $commentPadding;
			
			a {
				display: block;
				height:100%;
				
				img {
					height:100%;
				}
			}
		}
	}
}






