@import 'blocks/sub-navbar';




.headerProfile {
	$marginAvatar: 10px !default;
	$heightSubNavbar: ($font-size-base * $line-height-base) + ($navbar-padding-vertical * 2);
	$sizeAvatarProfile: 80px !default;
	$diffAvatarSubNavbar: max(($sizeAvatarProfile - $heightSubNavbar) /2, 0);
	
	position: relative;
	margin: $padding-usual 0 $diffAvatarSubNavbar + $padding-usual * 2;
	
	.avatar {
		display: block;
		position: absolute;
		top: -$diffAvatarSubNavbar;
		left: $marginAvatar;
		width: $sizeAvatarProfile;
		z-index: 1;
	}
	
	h1 {
		display: inline-block;
		line-height: $heightSubNavbar * .9;
		float: left;
		margin: 0;
		padding: 0 $marginAvatar 0 0;
	}
	
	.navbar {
		padding-left: $sizeAvatarProfile + $marginAvatar * 2;
	}
}







