
nav.sub-navbar { // poids des selecteurs
	background-color: $navbar-sub-bg;
	border: none;
	color: $navbar-sub-color;
	
	.navbar-text {
		color: $navbar-sub-color;
	}
	
	.navbar-nav {
		> li > a {
			color: $navbar-sub-link-color;
			
			&:hover,
			&:focus {
				color: $navbar-sub-link-hover-color;
				background-color: $navbar-sub-link-hover-bg;
			}
		}
		
		> .active > a {
			&,
			&:hover,
			&:focus {
				color: $navbar-sub-link-active-color;
				background-color: $navbar-sub-link-active-bg;
			}
		}
		> .disabled > a {
			&,
			&:hover,
			&:focus {
				color: $navbar-sub-link-disabled-color;
				background-color: $navbar-sub-link-disabled-bg;
			}
		}
	}
	
	.navbar-collapse,
	.navbar-form {
		border-color: $navbar-sub-border;
	}
	
	// Dropdown menu items
	.navbar-nav {
		// Remove background color from open dropdown
		> .open > a {
			&,
			&:hover,
			&:focus {
				background-color: $navbar-sub-link-active-bg;
				color: $navbar-sub-link-active-color;
			}
		}
		
		@media (max-width: $grid-float-breakpoint-max) {
			// Dropdowns get custom display when collapsed
			.open .dropdown-menu {
				> li > a {
					color: $navbar-sub-link-color;
					
					&:hover,
					&:focus {
						color: $navbar-sub-link-hover-color;
						background-color: $navbar-sub-link-hover-bg;
					}
				}
				
				> .active > a {
					&,
					&:hover,
					&:focus {
						color: $navbar-sub-link-active-color;
						background-color: $navbar-sub-link-active-bg;
					}
				}
				> .disabled > a {
					&,
					&:hover,
					&:focus {
						color: $navbar-sub-link-disabled-color;
						background-color: $navbar-sub-link-disabled-bg;
					}
				}
			}
		}
	}
	
	
	// Links in navbars
	//
	// Add a class to ensure links outside the navbar nav are colored correctly.
	
	.navbar-link {
		color: $navbar-sub-link-color;
		
		&:hover {
			color: $navbar-sub-link-hover-color;
		}
	}
	
	.btn-link {
		color: $navbar-sub-link-color;
		
		&:hover,
		&:focus {
			color: $navbar-sub-link-hover-color;
		}
		
		&[disabled],
		fieldset[disabled] & {
			&:hover,
			&:focus {
				color: $navbar-sub-link-disabled-color;
			}
		}
	}
}















