



@mixin tag($heightTag) {
	padding: $paddingTasteRate;
	background: $tagColor;
	position: relative;
	color: defineColor($tagColor);
	margin: 0 $commentPadding + ($heightTag/2);
	
	&::before {
		content: '';
		border: transparent $heightTag/2 solid;
		border-right-color: $tagColor;
		border-left-width: 0;
		display: block;
		position: absolute;
		top: 0;
		left: -$heightTag / 2;
	}
	
	&::after {
		content: '';
		display: block;
		width: $sizeHoleTag;
		height: $sizeHoleTag;
		position: absolute;
		top: ($heightTag - $sizeHoleTag) / 2;
		left: -$heightTag / 4;
		background: $commentBg;
		border-radius: 100%;
	}
}





.tags {
	list-style: outside none none;
	padding: $commentPadding;
	
	&::after {
		content: '';
		clear: both;
		display: block;
	}
	
	> li {
		float: left;
		@include tag(($font-size-base * $line-height-base) + ($paddingTasteRate * 2));
	}
}










