

// the next !important statement are here jsut to rewrite the style write with JS

.wysihtml5-toolbar {
		%icon {
			@extend .glyphicon;
		}
		
		@each $icon in font list th-list indent-left indent-right picture {
			.icon-#{$icon} {
				@extend %icon;
				@extend .glyphicon-#{$icon};
			}
		}
		.icon-share {
			@extend %icon;
			@extend .glyphicon-link;
		}
}

.extractorOfFlow {
	color: $text-color;
	
	.wysihtml5-toolbar {
		position: absolute;
		top: -100%;
		opacity: 0;
		background: $navbar-default-color;
		width: 100%;
		border: 1px solid $input-border;
		visibility: hidden;
		
		> li {
			margin: 0;
		}
	}
	
	.wysihtml5-sandbox {
		top: 0;
		transition: $transition !important;
		height: $input-height-base !important;
		width: 100% !important;
		margin-top: 0;
	}
	
	.modal {
		.modal-dialog {
			button {
				width: auto;
			}
		}
	}
	
	&.focus {
		.wysihtml5-toolbar {
			top: 0;
			opacity: 100;
			visibility: visible;
		}
		
		.wysihtml5-sandbox {
			margin-top: 35px !important;
			height: 100px !important;
			height: 60vh !important;
		}
	}
}


.modal-backdrop {
	z-index: 999;
}








