{% extends 'base.html.twig' %}

{% set css = 'tags' %}

{% block main %}
	<h1>Commentaires contenant le tag <span class="tag">{{ tag.name }}</span></h1>
	{% if comments | length == 0 %}
		<p class="alert alert-info">Oops, je n'ai pas trouvé de commentaire avec ce tag.</p>
	{% else %}
		<p>Pour voir les stats, c'est <a href="{{ path('displayTagStats', {tagname: tag.name}) }}">par ici</a>.</p>
		<p class="search">Je veux rechercher les commentaires correspondant au tag <span class="tag">{{ tag.name}}</span> datant du <input type="date"><a class="btn btn-default" href="{{ path('displayTagComments', {tagname: tag.name}) }}">Oui, je le veux !</a></p>
		{% for comment in comments %}
			{% include 'blocks/comment.twig' %}
		{% endfor %}
	{% endif %}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('cdn/js/tag.min.js') }}"></script>
{% endblock %}
