{% extends 'base.html.twig' %}

{% set css = 'tags' %}

{% block main %}
	<h1>Commentaires contenant le tag <span class="tag">{{ tag.name }}</span></h1>
	{% if comments | length == 0 %}
		<p class="alert alert-info">Oops, je n'ai pas trouvé de commentaire avec ce tag.</p>
	{% else %}
		<p>Ce tag a été utilisé dans {{ comments|length }} commentaire(s).</p>
		{# Courbe ? #}
		<a href = {{ path('displayTagComments', {tagname: tag.name}) }}>Voir les commentaires</a>
	{% endif %}
{% endblock %}


