{% extends 'base.html.twig' %}


{% set css = 'tags' %}

{% block main %}
	<h1>Liste des tags{% if tags|length > 0 %} <small>et même qu'il y en a  {{ tags|length }} actuellement</small>{% else %} <small>ou pas&hellip;</small>{% endif %}</h1>
	
	{% if tags|length %}
		<p class="search"><label>Recherche dans les utilisateurs</label> <input type="text" class="searchList"></p>
		<ul class="list tags">
			{% for tag in tags %}
				<li><a href="{{ path('displayTagComments', {tagname: tag.name}) }}">{{ tag.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p class="alert alert-info"><i lang="en" title="Aucun tag dispo !">No tag available !</i></p>
	{% endif %}
	
{% endblock %}


{% block javascripts %}
	<script src="{{ asset('cdn/js/lists.min.js') }}"></script>
{% endblock %}
