{% extends 'base.html.twig' %}

{% set css = 'tags' %}

{% block main %}
	<h1>Commentaires contenant le tag <span class="tag">{{ tag.name }}</span> <small>datant du {{ date | date('d/m/Y') }}</small></h1>

	<p class="search">Je veux rechercher les commentaires correspondant au tag <span class="tag">{{ tag.name }}</span> datant du <input type="date" value="{{ date | date('d-m-Y')  }}"><a class="btn btn-default" href="{{ path('searchTagDate', {tagname: tag.name, date: date | date('d-m-Y')}) }}">Oui, je le veux !</a></p>
        <p><a href="{{ path('displayTagComments', {tagname: tag.name}) }}">&larr; Je veux afficher tous les commentaires concernant le tag <span class="tag">{{ tag.name }}</span> !</a></p>
	
	{% if comments | length == 0 %}
		<p class="alert alert-info">Oops, je n'ai pas trouvé de commentaire avec ce tag datant de cette date.</p>
	{% else %}
		{% for comment in comments %}
			{% include 'blocks/comment.twig' %}
		{% endfor %}
	{% endif %}
{% endblock %}


{% block javascripts %}
	<script src="{{ asset('cdn/js/tag.min.js') }}"></script>
{% endblock %}
