{% extends 'base.html.twig' %}

{% if css is not defined %}
	{% set css = 'profile' %}
{% endif %}

{% block main %}
	<header class="headerProfile">
		<img class="avatar" alt="avatar de {{ user.username }}" src="{{ gravatar(user.email, 80) }}"/>

		<nav class="navbar sub-navbar">
			<h1>{{ user.username }}</h1>
			<ul class="nav navbar-nav">
				<li{% if pageProfile is not defined or pageProfile == "displayProfile" %} class="active"{% endif %}><a href="{{ path('displayProfile', {username: user.username} ) }}">Profil</a></li>
				<li{% if pageProfile is defined and pageProfile == "displayInfoProfile" %} class="active"{% endif %}><a href="{{ path('displayInfoProfile', {username: user.username} ) }}">Infos</a></li>
				{% if app.user == user and (privacy is not defined or privacy == 2) %}
					<li{% if pageProfile is defined and pageProfile == "displayContacts" %} class="active"{% endif %}><a href="{{ path('displayContacts', {username: user.username} ) }}">Contacts</a></li>
					<li{% if pageProfile is defined and pageProfile == "editProfile" %} class="active"{% endif %}><a href="{{ path('editProfile', {username: user.username} ) }}">Modifier son profil</a></li>
					<li{% if pageProfile is defined and pageProfile == "changePassword" %} class="active"{% endif %}><a href="{{ path('changePassword', {username: user.username} ) }}">Changer de mot de passe</a></li>
					<li{% if pageProfile is defined and pageProfile == "displayProfileWithPrivacy" %} class="active"{% endif %}><a href="{{ path('displayProfileWithPrivacy', {username: user.username, privacy: 1} ) }}">Voir son profil en temps qu'autrui</a></li>
				{% elseif app.user %}
					{% if user in app.user.contacts or (privacy is defined and privacy == 1) %}
						<li><a href="{{ path('rmContact', {username: user.username} ) }}">Retirer de mes contacts</a></li>
					{% else %}
						<li><a href="{{ path('addContact', {username: user.username} ) }}">Ajouter à mes contacts</a></li>
					{% endif %}
				{% endif %}
			</ul>
		</nav>
	</header>


	{% block profileContent %}{% endblock %}
{% endblock %}


