{% extends 'base.html.twig' %}

{% set css = 'comments' %}

{% block main %}
	<section class="commentsContainer">
		{% include 'blocks/comment.twig' %}

		{% set likers = [] %}
		{% set haters = [] %}

		{# on tri les likers et les haters... euh nn, les dislikers :p #}
		{% for taste in comment.tastedBy %}
			{% if taste.taste %}
				{% set likers = likers|merge([taste.user]) %}{# C'est un peu overkill, mais ça marche ^^ #}
			{% else %}
				{% set n = haters|length %}
				{% set haters = haters|merge([taste.user]) %}{# C'est un peu overkill, mais ça marche ^^ #}
			{% endif %}
		{% endfor %}
		
		{% if likers | length > 0 %}
		<section class="likers">
			<h2>Likers <small>Ils ont liké</small></h2>
			<ul>
				{% for liker in likers %}
					<li><a href="{{ path('displayProfile', {username: liker.username}) }}"><img alt="avatar de {{ liker.username }}" src="{{ gravatar(liker.email) }}"/> {{ liker.username }}</a></li>
				{% endfor %}
			</ul>
		</section>
		{% endif %}


		{% if haters | length > 0 %}
		<section class="dislikers">
			<h2><del>Hatters</del><ins>Dislickers</ins> <small>Haters will hate</small></h2>
			<ul>
				{% for hater in haters %}
					<li><a href="{{ path('displayProfile', {username: hater.username}) }}"><img alt="avatar de {{ hater.username }}" src="{{ gravatar(hater.email) }}"/> {{ hater.username }}</a></li>
				{% endfor %}
			</ul>
		</section>
		{% endif %}

	</section>
	

{% endblock %}


