{% extends 'user/displayProfile.html.twig' %}




{% set privacyToShow = privacy %}

{% block main %}
	{% set inversePrivacy = -privacy + 1 %}
	<p class="alert alert-warning" role="alert">
		<a  href="{{ path('displayProfile', {username: app.user.username}) }}" type="button" data-toggle="tooltip" title="Fermer cette vue" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
		Vous êtes en train de visualiser votre profil comme le verraient {% if privacy == 0 %}tout le monde{% elseif privacy == 1 %}vos contacts{% endif %}. <a href="{{ path('displayProfileWithPrivacy', {username: app.user, privacy : inversePrivacy}) }}">Voir en temps que {% if inversePrivacy == 0 %}tout le monde{% elseif inversePrivacy == 1 %}vos contacts{% endif %}</a>.</p>
	{{ parent() }}
{% endblock %}



