{% extends 'user/baseProfile.html.twig' %}


{% set pageProfile = "displayInfoProfile" %}
{% set css = 'infos' %}

{% block profileContent %}
	<section class="infos">
		<ul>
			<li>Nombre de commentaires : {{ commentaires | length }}</li>
			<li>Nombre de contacts : {{ user.contacts | length }}</li>
			{% if tags | length == 0 %}
				<li>Aucun tag utilisé !</li>
			{% else %}
				<li>Tag(s) utilisé(s) :
					<ul class="list tags">
						{% for tag in tags %}
							<li><a href="{{ path('displayTagComments', {tagname: tag.name}) }}">{{ tag.name }}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% endif %}
		</ul>
	</section>
{% endblock %}