{% extends 'user/baseProfile.html.twig' %}


{% set pageProfile = "displayContacts" %}
{% set css = 'contacts' %}

{% block profileContent %}
	<section class="contacts container">
		{% if user.contacts.count %}
			<ul>
			{% for contact in user.contacts %}
				<li><a href="{{ path('displayProfile', {username: contact.username}) }}" class="avatar"><img alt="avatar de {{ contact.username }}" src="{{ gravatar(contact.email) }}"/> {{ contact.username }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p><i lang="en" title="Il n'y a rien ici John !">There's nothing here John !</i></p>
		{% endif %}
	</section>
{% endblock %}


