{% extends 'baseFeed.xml.twig' %}

{% block metadatas %}
	<title>Votre flux d'actualité eNote</title>
	<link>{{ absolute_url(path('homepage')) }}</link>
	<description>Votre flux d'actialité eNote</description>
	<generator>eNote</generator>
	<language>fr-fr</language>
	<image>
		<url>{{ absolute_url(asset('cdn/img/logo.png')) }}</url>
		<title>Votre flux d'actualité eNote</title>
		<link>{{ absolute_url(path('homepage')) }}</link>
	</image>
{% endblock %}


{% block content %}
	{% for comment in comments %}
		<item>
			<title>{{ comment.text | raw | slice(0, 150) }}{% if comment.text | length > 150 %}&hellip;{% endif %} &mdash; {{ comment.user.username }}</title>
			<link>{{ absolute_url(path('displayComment', {username: comment.user.username, idComment: comment.id})) }}</link>
			<guid isPermaLink="true">{{ absolute_url(path('displayComment', {username: comment.user.username, idComment: comment.id})) }}</guid>
			<pubDate>{{ comment.datetime | date('D, d M Y H:i:s O') }}</pubDate>
			<description>{{ comment.text }}</description>
		</item>
	{% endfor %}
{% endblock %}



