{% extends 'base.html.twig' %}


{% block main %}
	<h1>Fil d'actualité <small>Ils ont commenté. Vous ne devinerez jamais ce qu'il s'est passé &hellip;</small></h1>
	
	<section class="commentsContainer">
		{% for comment in friendsComments|reverse %}
			{% include 'blocks/comment.twig' %}
		{% else %}
			<p><i lang="en" title="Il n'y a rien ici John !">There's nothing here John !</i></p>
		{% endfor %}
	</section>
	
{% endblock %}


