{% extends 'base.html.twig' %}


{% set css = 'userList' %}

{% block main %}
	<h1>Liste des utilisateurs <small>et même qu'il y en a  {{ users|length }} actuellement</small></h1>
	
	<p class="search"><label>Recherche dans les utilisateurs</label> <input type="text" class="searchList"></p>
	<section class="users">
		{% if users|length %}
			<ul class="list">
				{% for user in users %}
					<li class="col-sm-4"><a href="{{ path('displayProfile', {username: user.username}) }}"><img alt="avatar de {{ user.username }}" src="{{ gravatar(user.email) }}"/> {{ user.username }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<p class="alert alert-info">Aucun utilisateur trouvé</p>
		{% endif %}
	</section>
	
{% endblock %}



{% block javascripts %}
	<script src="{{ asset('cdn/js/lists.min.js') }}"></script>
{% endblock %}



