{% extends 'base.html.twig' %}


{% set css = 'userList' %}

{% block main %}
	<h1>Cercle d'amis <small>et même qu'il y en a  {{ friends|length }} actuellement</small></h1>
	
	<p class="search"><label>Recherche dans les amis</label> <input type="text" class="searchList"></p>
	<section class="users">
		{% if friends|length %}
			<ul class="list">
				{% for friend in friends %}
					<li class="col-sm-4"><a href="{{ path('displayProfile', {username: friend.username}) }}"><img alt="avatar de {{ friend.username }}" src="{{ gravatar(friend.email) }}"/> {{ friend.username }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<p class="alert alert-info">Vous n'avez aucune amitié réciproque avec qui que ce soit...</p>
		{% endif %}
	</section>
	
{% endblock %}



{% block javascripts %}
	<script src="{{ asset('cdn/js/lists.min.js') }}"></script>
{% endblock %}