{% extends 'user/baseProfile.html.twig' %}

{% set css = 'profile' %}

{% block profileContent %}
	<p class="search">Je veux rechercher les commentaires de {{ user.username }} datant du <input type="date" value="{{ date | date('d-m-Y')  }}"><a class="btn btn-default" href="{{ path('displayProfile', {username: user.username}) }}">Oui, je le veux !</a></p>
	<p><a href="{{ path('displayProfile', {username: user.username}) }}">&larr; Je veux afficher tous les commentaires de {{ user.username }} !</a></p>

	<section class="commentsContainer">
		{% for comment in comments %}
			{% include 'blocks/comment.twig' %}
		{% else %}
			<p class="alert alert-info"><i lang="en" title="Il n'y a rien ici John !">There's nothing here John !</i></p>
		{% endfor %}
	</section>
{% endblock %}


{% block javascripts %}
        <script src="{{ asset('cdn/js/profile.min.js') }}"></script>
{% endblock %}

