@import "bootstrap/bootstrap";



.btn {
	@each $type in lg, sm, xs, block {
		&.#{$type} {
			@extend .btn-#{$type}
		}
	}
}

a[role=button],
button,
%button {
	@extend .btn;
	@extend .btn-default;
	
	@each $flavour in danger, warning, success, info, primary, link {
		&.#{$flavour} {
			@extend .btn-#{$flavour};
		}
	}
}


table {
	@extend .table;
	
	@each $flavour in striped, bordered, hover, condensed {
		&.#{$flavour} {
			@extend .table-#{$flavour};
		}
	}
	
	tbody,
	tr {
		&.striped {
			@extend .table-striped;
		}
	}
}

label {
	@extend .control-label;
}

.form-control {
	@each $type in lg, sm {
		&.#{$type} {
			@extend .input-#{$type}
		}
	}
}

select,
textarea,
%formControl {
	@extend .form-control;
}

@each $type in button, image, reset, submit {
	input[type=#{$type}] {
		@extend %button;
	}
}

@each $type in color, date, datetime, datetime-local, email, month, number, password, search, tel, text, time, url, week {
	input[type=#{$type}] {
		@extend %formControl;
	}
}

.form-group {
	@each $type in lg, sm {
		&.#{$type} {
			@extend .form-group-#{$type}
		}
	}
}

form {
	@each $type in inline, horizontal {
		&.#{$type} {
			@extend .form-#{$type};
		}
	}
	
	/* en CSS4 :
	
	> div! {
		> .form-control-static,
		> input {
			@extend .form-group;
		}
		
		> label > input[type=checkbox] {
			@extend .checkbox;
			
			&[disabled] {
				@extend .disabled;
			}
		}
		
		> label > input[type=radio] {
			@extend .radio;
			
			&[disabled] {
				@extend .disabled;
			}
		}
	}
	
	> label > input[type=checkbox] {
		@extend .checkbox-inline;
	}
	
	> label > input[type=radio] {
		@extend .radio-inline;
	}
	
	*/
}
	

img {
	@each $type in responsive, rounded, circle, thumbnail {
		&.#{$type} {
			@extend .img-#{$type}
		}
	}
}


.dropdown {
	@each $type in toggle, menu {
		.#{$type} {
			@extend .dropdown-#{$type};
		}
	}
	
	.dropdown-menu {
		.right {
			@extend .dropdown-menu-right;
		}
		
		.header {
			@extend .dropdown-header;
		}
	}
}


.nav.nav-pills.stacked {
	@extend .nav-stacked;
}

@each $flavour in tabs, pills {
	.nav-#{$flavour} { // exists, but require the .nav
		@extend .nav;
	}
	
	.nav.#{$flavour} {
		@extend .nav-#{$flavour};
	}
	
	.nav.nav-#{$flavour}.justified {
		@extend .nav-justified;
	}
}


nav {
	@extend .navbar;
	
	@each $flavour in default, inverse {
		&.#{$flavour} {
			@extend .navbar-#{$flavour};
		}
	}

	@each $elem in header, nav, form {
		#{$elem},
		.#{$elem} {
			@extend .navbar-#{$elem};
		}
	}
	
	@each $elem in toggle, brand, collapse, right, left {
		.#{$elem} {
			@extend .navbar-#{$elem};
		}
	}
}


@each $flavour in success, info, warning, danger {
	.alert-#{$flavour} {
		@extend .alert;
	}
}


.dismissible {
	@extend .alert-dismissible;
}


.alert {
	a {
		@extend .alert-link;
	}
	
	/* In CSS 4
		.alert! > .close {
			@extend .alert-dismissible;
		}
	*/
}


@each $flavour in success, info, warning, danger {
	.progress-bar-#{$flavour} {
		@extend .progress-bar;
	}
}

@each $type in success, info, warning, danger {
	.progress.#{$type} {
		@extend .progress-bar-#{$type};
	}
}













