<!DoCtYpE HtMl>
<html>
        <head>
                <!--

 #   #    #########################                       
# # # # ##                         # #  #                  This code is produce for a scholar project
   #   # # #   #   #   #   #   #   ## ## #   NIAN          But we are the night
 #   #   #                         #      #   NIAN         And Sf is not very funny :3
# # # # ##   #   #   #   #   #   # #  #  # #   NIAN        So I do it ^^
   #   # #                         #        #             
 #   #   # #   #   #   #   #   #   #   `#####             
# # # # ##                         #        #             
   #   #  ######################### ########              
            # # #           # # #
            #  #            #  #



-->

                <title>{% block title %}Bienvenue{% endblock %} - eNote</title>
                <meta charset="utf8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if css is defined %}
			{% if css %}
				<link rel="stylesheet" href="{{ asset('cdn/css/' ~ css ~ '.min.css') }}">
			{% endif %}
		{% else %}
			<link rel="stylesheet" href="{{ asset('cdn/css/style.min.css') }}">
		{% endif %}
		
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('cdn/img/favicons/apple-touch-icon-57x57.png') }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('cdn/img/favicons/apple-touch-icon-60x60.png') }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('cdn/img/favicons/apple-touch-icon-72x72.png') }}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('cdn/img/favicons/apple-touch-icon-76x76.png') }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('cdn/img/favicons/apple-touch-icon-114x114.png') }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('cdn/img/favicons/apple-touch-icon-120x120.png') }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('cdn/img/favicons/apple-touch-icon-144x144.png') }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('cdn/img/favicons/apple-touch-icon-152x152.png') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('cdn/img/favicons/apple-touch-icon-180x180.png') }}">
		<link rel="icon" type="image/png" href="{{ asset('cdn/img/favicons/favicon-32x32.png') }}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{ asset('cdn/img/favicons/android-chrome-192x192.png') }}" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ asset('cdn/img/favicons/favicon-96x96.png') }}" sizes="96x96">
		<link rel="icon" type="image/png" href="{{ asset('cdn/img/favicons/favicon-16x16.png') }}" sizes="16x16">
		<link rel="manifest" href="{{ asset('manifest.json') }}">
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
		
		{% if app.user %}
			<link rel="alternate" type="application/rss+xml" title="Votre flux d'actualité" href="{{ path('displayRssFeed', {mac: app.user.mac, _format: 'rss'}) }}" />
		{% endif %}
		
		<meta name="apple-mobile-web-app-title" content="eNote">
		<meta name="application-name" content="eNote">
		<meta name="msapplication-TileColor" content="#3a5795">
		<meta name="msapplication-TileImage" content="{{ asset('cdn/img/favicons/mstile-144x144.png') }}">
		<meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}">
		<meta name="theme-color" content="#ffffff">
        </head>
        <body>

		{% block header %}
			{% if app.user %}
				{% block headerConnected %}
					<nav class="navbar navbar-default">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
									<span class="sr-only">Ouvrir/ferme le menu</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="{{ path('homepage') }}">
									<img alt="eNote" src="{{ asset('cdn/img/logo.svg') }}">
								</a>
							</div>
							
							<div class="collapse navbar-collapse" id="menu">
								{% block headerContentConnected %}
								<form class="commentForm navbar-left" method="post" action="{{ path('addComment') }}">
									<div class="extractorOfFlow">
										<textarea class="form-control" placeholder="Commenter" name="text"></textarea>
										<input type="text" class="from-control" name="tags" placeholder="Tags (séparés par des virgules (par exemple : tag1, tag2, tag3)">
										<select name="privacy" class="form-control">
											<option value="0">Visible par tout le monde</option>
											<option value="1">Visible par mes amis uniquement</option>
											<option value="2" selected>Visible par moi uniquement</option>
										</select>

										<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-comment"></span> Commenter</button>
									</div>
								</form>
								<ul class="nav navbar-nav navbar-right">
									<li><a href="{{ path('fos_message_inbox') }}"><span class="glyphicon glyphicon-envelope"></span> Messagerie</a></li>
									<li><a href="{{ path('displayProfile', {username: app.user}) }}" class="avatar" title="Vers ton profil et au-delà !!"><img src="{{ gravatar(app.user.email) }}" alt="Votre gravatar"> <span class="visible-xs-inline">{{ app.user.username }}</span></a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span><span class="sr-only">Menu</span> <span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('listFriends') }}">Cercle d'amis</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="{{ path('listUsers') }}">Liste des utilisateurs</a></li>
												<li><a href="{{ path('displayTags') }}">Liste des tags</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="{{ path('editProfile', {username: app.user.username}) }}">Paramètres</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
											</ul>
									</li>
								</ul>
								{% endblock %}
							</div>
						</div>
					</nav>
				{% endblock %}
			{% else %}
				{% block headerNotConnected %}
					<nav class="navbar navbar-default">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
									<span class="sr-only">Ouvrir/ferme le menu</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="{{ path('homepage') }}">
									<img alt="eNote" src="{{ asset('cdn/img/logo.svg') }}">
								</a>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
								<ul class="nav navbar-nav navbar-right">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span><span class="sr-only">Menu</span> <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="{{ path('listUsers') }}">Liste des utilisateurs</a></li>
											<li><a href="{{ path('displayTags') }}">Liste des tags</a></li>
										</ul>
									</li>
								</ul>
								{% block headerContentNotConnected %}
									{{ render(controller('FOSUserBundle:Security:login')) }}
									<a href="{{ path('fos_user_registration_register') }}" class="btn btn-default navbar-btn navbar-right">S'enregistrer</a>
									<a href="{{ path('fos_user_security_login') }}" class="btn btn-default navbar-btn navbar-right visible-sm">Se connecter</a>
								{% endblock %}
							</div>
						</div>
					</nav>
				{% endblock %}
			{% endif %}
		{% endblock %}

		<main>
			{% for key in app.session.flashbag.keys -%}
				{% for mess in app.session.flashbag.get(key) -%}
					<p class="alert alert-{{ key }} alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						{{- mess -}}
					</p>
				{%- endfor %}
			{%- endfor %}
			
			{% block main %}{% endblock %}
		</main>

		<footer>
			<div class="container">
				<p class="text-muted">Ce site a été développé par deux supers psykokwaks répondant au téléphone &mdash; under <a href="http://choosealicense.com/licenses/mit/">MIT License</a></p>
			</div>
		</footer>

		{% block javascripts %}
			<script src="{{ asset('cdn/js/script.min.js') }}"></script>
		{% endblock %}
        </body>
</html>


