{% extends 'base.html.twig' %}


{% block headerContentNotConnected %}
	<a href="{{ path('fos_user_registration_register') }}" class="btn btn-default navbar-btn navbar-right">S'enregistrer</a>
{% endblock %}

{% block main %}
	<h1>Se connecter</h1>
	{{ render(controller('FOSUserBundle:Security:login', {partOfMenu: false})) }}
{% endblock %}


