{% extends 'base.html.twig' %}


{% block headerContentNotConnected %}
	{{ render(controller('FOSUserBundle:Security:login')) }}
	<a href="{{ path('fos_user_security_login') }}" class="btn btn-default navbar-btn navbar-right visible-sm">Se connecter</a>
{% endblock %}


{% block main %}
	<h1>S'enregistrer</h1>
	{{ formContent | raw }}
{% endblock %}


