{% extends 'base.html.twig' %}


{% block main %}
                        <section>
                                <h1>eNote <small>comme Facebook, en mieux</small></h1>
                                <p>Avec eNote, vous pouvez partager vos joies, vos bon moments, votre vie.</p>
                                <p>Soyez en contact avec tous vos amis, tout le temps, partout !</p>
                                <p>Votre vie ne regarde que vous. C'est pour ça que eNote protège votre vie privée.</p>
                        </section>
                        <section>
                                <h2>Inscription <small>promis, on ne vous traque pas</small></h2>
				{{ render(controller('FOSUserBundle:Registration:register')) }}
                        </section>
{% endblock %}


