{% extends "FOSUserBundle::layout.static.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="formLogin" action="{{ path("fos_user_security_check") }}" method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<div class="form-group">
		<label for="username">{{ 'security.login.username'|trans }}</label>
		<input id="username" name="_username" value="{{ last_username }}" required="required" type="text">
	</div>

	<div class="form-group">
		<label for="password">{{ 'security.login.password'|trans }}</label>
		<input id="password" name="_password" required="required" type="password">
	</div>

	<div class="checkbox">
		<label for="remember_me">
			<input id="remember_me" name="_remember_me" value="on" type="checkbox"> {{ 'security.login.remember_me'|trans }}
		</label>
	</div>

	<button type="submit" id="_submit" name="_submit" class="btn btn-default">{{ 'security.login.submit'|trans }}</button>
</form>

{% endblock fos_user_content %}
