{% extends 'FOSMessageBundle::layout.html.twig' %}


{% form_theme form with ':Form:bootstrap_3_horizontal_layout.html.twig' %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2>

<form action="{{ url('fos_message_thread_new') }}" method="post" class="form-horizontal">
	
	<div class="form-group{% if form.children.recipient.vars.errors | length  > 0 %} has-error{% endif %}">
		{{ form_label(form.recipient) }}
		<div class="col-sm-10">
			<select id="{{ form.recipient.vars.id }}" name="{{ form.recipient.vars.full_name }}" required="required" class="form-control" value="{{ form.recipient.vars.value }}" />
			{% for user in users %}
				<option value="{{ user.username }}"
				{%- if form.recipient.vars.value == user.username %} selected{% endif -%}
				>{{ user.username }}</option>
			{% endfor %}
			</select>
			{{ form_errors(form.recipient) }}
		</div>
	</div>
	{{ form_row(form.subject) }}
	{{ form_row(form.body) }}
	{{ form_row(form._token) }}

	
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" id="_submit" name="_submit" class="btn btn-default">Envoyer</button>
		</div>
	</div>
</form>

{% endblock %}
