{% extends "FOSUserBundle::layout.static.html.twig" %}

{% form_theme form with ':Form:bootstrap_3_horizontal_layout.html.twig' %}



{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
