{% trans_default_domain 'FOSUserBundle' %}

{% spaceless %}
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
	{# pour simuler des champs vraiment générés pas un formFactory #}
	{# L'attribut style ici n'est là que pour le honey pot : il est fortement déconseillé de faire autrement (effet de bords qui peuvent potentiellement foutre la bordel) #}
	<div class="form-group" aria-hidden="true" style="display:none">
		<label for="destinationdevacances">Ne pas remplir</label>
		<input id="destinationdevacances" name="_destinationdevacances" value="" type="text">
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" id="_submit" name="_submit" class="btn btn-default">{{ 'registration.submit'|trans }}</button>
		</div>
	</div>
</form>
{% endspaceless %}
