{# block for display a comment

Requirements :

 * var - comment	the comment to display


#}


{% set privacyText = "tout le monde" %}
{% if comment.privacy == 1 %}
	{% set privacyText = "mes amis uniquement" %}
{% elseif comment.privacy == 2 %}
	{% set privacyText = "moi uniquement" %}
{% endif %}



{% if privacyToShow is not defined %}
	{% set privacyToShow = 2 %}
{% endif %}

<section class="comment">
	<a href="{{ path('displayProfile', {username: comment.user.username}) }}" class="avatar"><img alt="avatar de {{ comment.user.username }}" src="{{ gravatar(comment.user.email) }}"/></a>
	<h2><a href="{{ path('displayProfile', {username: comment.user.username}) }}">{{ comment.user.username }}</a></h2>
	<p class="infos"><a href="{{ path('displayComment', {username: comment.user.username, idComment: comment.id}) }}">Posté le {{ comment.datetime | date('d/m/Y à H\\hi') }}</a> &mdash; Visible par {{ privacyText }}{% if app.user == comment.user and privacyToShow == 2 %} &mdash; <a href="{{ path('editComment', {idComment: comment.id}) }}">Editer le commentaire</a> &mdash; <a href="{{ path('deleteComment', {idComment: comment.id}) }}">Supprimer le commentaire</a>{% endif %}</p>
	<div class="content">{{ comment.text | raw }}</div>
	
	{% if comment.tags.count > 0 %}
		<ul class="tags">
		{% for tag in comment.tags %}
			<li><a href="{{ path('displayTagComments', {tagname: tag.name}) }}">{{ tag.name }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}

	{% set likersCpt = 0 %}
	{% set hatersCpt = 0 %}
	{% set usertaste = -1 %}

	{% for taste in comment.tastedBy %}
		{% if taste.taste %}
			{% set likersCpt = likersCpt + 1 %}
		{% else %}
			{% set hatersCpt  = likersCpt + 1 %}
		{% endif %}
		
		{% if app.user and taste.user == app.user and privacyToShow == 2 %}
			{% set usertaste = taste.taste %}
		{% endif %}
	{% endfor %}

	{% if app.user and (app.user != comment.user or privacyToShow != 2) %}
		<form class="tastes" method="post" action="{{ path('addTaste', {idComment: comment.id}) }}"><button class="tasteBtn btn-link" type="submit" name="taste" value="1"><span class="glyphicon glyphicon-thumbs-up"></span> J'aime{% if usertaste == 1 %} plus{% endif %} !</button><span class="tasteRate">{{ likersCpt }}</span> <button class="tasteBtn btn-link" type="submit" name="taste" value="0"><span class="glyphicon glyphicon-thumbs-down"></span> {%
		if usertaste == 0 -%}
			J'enlève mon "j'aime pas"
		{%- else -%}
			J'aime pas !
		{%- endif %}</button> <span class="tasteRate">{{ hatersCpt }}</span></form>
	{% else %}
		<p class="tastes"><span class="tasteBtn"><span class="glyphicon glyphicon-thumbs-up"></span> Nous aimons !</span><span class="tasteRate">{{ likersCpt }}</span> <span class="tasteBtn"><span class="glyphicon glyphicon-thumbs-down"></span> Nous, on aime pas !</span><span class="tasteRate">{{ hatersCpt  }}</span></p>
	{% endif %}
</section>

