{% extends 'user/baseProfile.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form with ':Form:bootstrap_3_horizontal_layout.html.twig' %}

{% set pageProfile = "changePassword" %}
{% set user = app.user %}

{% block profileContent %}
	<form action="{{ path('changePassword', {username: app.user.username}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit form-horizontal">
	    {{ form_widget(form) }}
	    <div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" id="_submit" name="_submit" class="btn btn-default">{{ 'profile.edit.submit'|trans }}</button>
		</div>
	    </div>
	</form>
{% endblock %}

