{% extends 'base.html.twig' %}


{% form_theme form with ':Form:bootstrap_3_horizontal_layout.html.twig' %}

{% set css = 'comments' %}

{% block main %}
	<h1>Edition de commentaire</h1>

		{{ form_start(form) }}
		<!--form name="appbundle_commentaireedit" method="post" action="{{ path('editComment', {'idComment': comment.id}) }}"-->
			<div id="appbundle_commentaireedit">
				{{ form_row(form.text) }}

				<div class="form-group{% if (force_error|default(false)) and not valid %} has-error{% endif %}">
					{{ form_label(form.privacy) }}
					<div class="col-sm-10">
						<select id="appbundle_commentaireedit_privacy" name="appbundle_commentaireedit[privacy]" required="required" class="form-control">
							<option value="0"{% if comment.privacy == 0 %} selected{% endif %}>Visible par tout le monde</option>
							<option value="1"{% if comment.privacy == 1 %} selected{% endif %}>Visible par mes amis uniquement</option>
							<option value="2"{% if comment.privacy == 2 %} selected{% endif %}>Visible par moi uniquement</option>
						</select>
						{{ form_errors(form.privacy) }}
					</div>
				</div>

				<div class="form-group{% if (force_error|default(false)) and not valid %} has-error{% endif %}">
					{{ form_label(form.tags) }}
					<div class="col-sm-10">
						<input type="text" id="appbundle_commentaireedit_tags" name="appbundle_commentaireedit[tags]" required="required" class="form-control" value="
							{%- for tag in comment.tags -%}
								{%- if not loop.first -%}
									,{{ ' ' }}{# <- c'est juste pour garder l'espace ;)#}
								{%- endif -%}
								{{- tag.name -}}
							{%- endfor -%}" />
						{{ form_errors(form.tags) }}
					</div>
				</div>
				{{ form_row(form._token) }}
				{{ form_row(form.Editer) }}
			</div>
		</form>


{% endblock %}


{% block javascripts %}
	<script src="{{ asset('cdn/js/comments.min.js') }}"></script>
{% endblock %}



